<div class="row">
	<div class="col-md-6">
		<h1>Login</h1>
		<div class="form-group">
			<%= form_for :user do |f| %>
				<%= f.email_field :email, class: 'form-control', placeholder: "Email" %>
				<%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
				<%= f.submit "Login!", class: "login btn" %>
			<% end %>
		</div>
		<p><a href="#" class="btn btn-info" id="twitterLogin">Login with Twitter</a></p>
	</div>
	<div class="col-md-6">
		<h1>Signup</h1>
		<div class="form-group">
	 		<%= form_for @user do |f| %>
      	<%= f.label :name %>:
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :username %>:
        <%= f.text_field :username, class: 'form-control' %><br />

        <%= f.label :email %>:
        <%= f.email_field :email, class: 'form-control' %><br />

        <%= f.label :password %>:
        <%= f.password_field :password, class: 'form-control' %><br />

        <%= f.label :password_confirmation %>:
        <%= f.password_field :password_confirmation, class: 'form-control' %><br />

        <%= f.submit "Signup!" %>
      <% end %>
		</div>
	</div>
</div>
