<div class="row">
	<div class="col-md-12 user-top">
		<div class="col-md-1">
			<img src="<%= @user.avatar %>"/>
		</div>
		<div class="col-md-9">
			<h4><%= @user.name %></h4>
			<div class="location-text"><%= @user.location %></div>
		</div>
		<div class="col-md-2">
			<div><%= link_to "Create a Post", new_post_path, class: 'btn btn-warning' %></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 user-top">
		<p><% @posts.each do |post| %>
			<%= post.description %><br>
		<% end %></p>
	</div>
</div>
