<div class="row">
	<div class="col-md-6">
	<div class="form-group">
			<%= form_for @user do |f| %>
				<%= f.label :email %>:
				<%= f.email_field :email, class: 'form-control', placeholder: "yourhandle@site.com" %>
				<%= f.label :password %>:
				<%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
				<br/><%= f.submit "Login", class: "btn btn-primary" %>
			<% end %>
		</div>
		<p><a href="#" class="btn btn-info" id="twitterLogin" >Login with Twitter</a></p>
	</div>
	<div class="col-md-6">
	</div>
</div>